footer {
    position: relative;
    padding-top: 35px;
    padding-bottom: 15px;
    margin: 0;
    margin-top: 30px;
    background-color: #2B2D2F;
    font-family: Helvetica;
    font-size: 12px;
}

#copyright {
    position: absolute;
    font-size: 15px;
    bottom: 0;
    right: 0;
}


footer a.f-link{
    color: white ; //was light grey, changed to white
}

footer p.f-header{
  color: $brand-secondary;
  font-size: 14px;
}

footer div.col-sm-3{
  font-size: 14px;
}

footer small{
  color: white;
  margin-right: 40px;
}
