// fixes somes spacing issues with buttons

.navbar-btn {
  // bottom padding
  margin-right: 25px;

  .landing-sign-up-btn {
    width: 100px;
  }

  .landing-sign-in-btn {
    width: 100px;
  }
  // signup colors

  .btn-primary {
    color: $brand-gray;
    background-color: $brand-primary;
    border-color:#771936;
    font: "Helvetica"
  }
  // signin colors

  .btn-default {
    color: $brand-secondary;
    background-color: $brand-primary;
    border-color: $brand-secondary;
    font: "Helvetica"
  }
}
//logo padding and size
.navbar-brand {
  padding: 4px 4px 4px 15px;
}

.navbar-default .navbar-nav > li > a {
  color: $brand-gray;
  font-family: "Helvetica";

}
//is this used anywhere
#absoluteWrapper {
  padding-top: 0px;
}
//when hovering over logo make it slightly bigger
#navbarLogo {
  &:hover {
    transform: scale(1.15) rotate(-12deg);
  }
}
.container-fluid pt-1 mt-1{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
}

.btn-primary-week {
    color: #ffffff !important;
    background-color: #8C1D40 !important;
    width:120px;
  }


.btn-primary-week:hover {
    color: #8C1D40 !important;
    background-color: #ffffff !important;
    border-color: #ffffff;
}

.btn-primary-week:focus {
    color: #8C1D40 !important;
    background-color: #ffffff !important;
    border-color: #ffffff;
}

.btn {
    display: inline-block;
    margin: 4px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*
when this block was deleted - it did not change anything

@media (max-width: 768px) {
	.navbar .navbar-nav .navbar-btn{
		float: none;
		vertical-align: top;
	}

	.navbar-btn {
		float: center;
		text-align: center;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
}
*/
